{% load static%}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portf </title>
    <link rel="icon" type="image/x-icon" href="./Images/favicon.jpeg">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>`
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="#Projects" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="#Contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
            </ul>
        </div>
    </nav>

        

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hi, I'm</h6>
                <h1 class="t-white">Deepankar Majumdar</h1>
                <h4 class="poppinss">Python Developer</h4>
                <a href="{% static 'pdf/Deepankar_Majumdar Resume.pdf' %}"  download = "Deepankar_Majumdar Resume.pdf">
                    <button class="btn poppins">Resume</button></a>
                    
                <a class="btn live poppins" id="hireme" href="https://mail.google.com/mail/?view=cm&fs=1&to=deepankar217@gmail.com&su=Let%27s%20Connect&body=Hi%2C%20I%27d%20love%20to%20connect%20and%20discuss%20opportunities."
                target="_blank">Let's Talk</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/1.png'%}" alt="">
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <!-- Here in src replade the given link with your secondary image link -->
                <img src="{%static 'images/2.png'%}" alt="" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Deepankar Majumdar</h1>
                    <p class="t-white poppins">I'm a Computer Science fresher passionate about data analysis, web development, and machine learning with skills in Python, Django, HTML/CSS, SQL, Power BI, and Excel.</p>
                    <p class="t-white poppins">I'm seeking entry-level job opportunities where I can contribute, grow and be a part of innovative projects.</p>
                    <a class="btn " id="hireme"
                        href="https://mail.google.com/mail/?view=cm&fs=1&to=deepankar217@gmail.com&su=Job%20Opportunity&body=Hi%2C%20I%27d%20like%20to%20discuss%20potential%20opportunities." 
                        target="_blank" ">Hire Me</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
<section id="skills">
    <h1 class="t-center my-2 t-white f-2">Skills</h1>
    <div class="services-container flex s-around h-50">
        <div class="skills-left flex s-center items-center">
            <img src="{% static 'images/pro.png' %}" alt="">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="skill">
                    <span class="skill-name">Python</span>
                    <div class="bar-wrapper">
                        <div class="bar" style="--skill-width: 90%; --bar-color: #387bb2ff;"></div>
                        <span class="bar-percentage">90%</span>
                    </div>
                </div>

                <div class="skill">
                    <span class="skill-name">Django</span>
                    <div class="bar-wrapper">
                        <div class="bar" style="--skill-width: 80%; --bar-color: #007937ff;"></div>
                        <span class="bar-percentage">80%</span>
                    </div>
                </div>

                <div class="skill">
                    <span class="skill-name">SQL</span>
                    <div class="bar-wrapper">
                        <div class="bar" style="--skill-width: 80%; --bar-color: #FF0000;"></div>
                        <span class="bar-percentage">80%</span>
                    </div>
                </div>

                <div class="skill">
                    <span class="skill-name">Excel</span>
                    <div class="bar-wrapper">
                        <div class="bar" style="--skill-width: 85%; --bar-color: #3ddf2eff;"></div>
                        <span class="bar-percentage">85%</span>
                    </div>
                </div>

                <div class="skill">
                    <span class="skill-name">Power BI</span>
                    <div class="bar-wrapper">
                        <div class="bar" style="--skill-width: 85%; --bar-color: #F2C811;"></div>
                        <span class="bar-percentage">85%</span>
                    </div>
                </div>

                <div class="skill">
                    <span class="skill-name">HTML/CSS</span>
                    <div class="bar-wrapper">
                        <div class="bar" style="--skill-width: 75%; --bar-color: #E34F26;"></div>
                        <span class="bar-percentage">75%</span>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

    <!-- Projects Section -->
        <section id="Projects">
        <h1 class=" t-center my-2 t-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
                <img src="{% static 'images/4.jpg' %}" alt="Bookstore Analysis" class="project-img mb-2" />
                <h1 class="t-white poppins">Bookstore Analysis using SQL</h1>
                <p class="t-white poppins">Analyzed bookstore data using basic and advanced SQL queires to optimize business operations and improve customer satisfaction.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Deepankar1729/Bookstore-analysis"
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="" target="_blanks" class="btn m-top live">Live
                        Link</a> {% endcomment %}
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
                 <img src="{% static 'images/5.jpg' %}" alt="Sales Performance Dashboard"
                 class="project-img mb-2" />
                <h1 class="t-white poppins">Sales Performance Dashboard using Excel</h1>
                <p class="t-white poppins">Developed a dynamic sales dashboard in Excel using pivot tables, charts, conditional formatting, and VBA macros.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Deepankar1729/Sales-Performance-Dashboard" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a> {% endcomment %}
                </div>
            </div>
                        <div class="projects-item flex f-col s-center items-center">
                 <img src="{% static 'images/6.jpg' %}" alt="Mobile sales" class="project-img mb-2" />

                <h1 class="t-white poppins">Mobile Sales Dashboard using Power BI</h1>
                <p class="t-white poppins">Developed an interactive Power BI dashboard to analyze mobile sales performance.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Deepankar1729/Mobile-Sales-Dashboard" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a> {% endcomment %}
                </div>
            </div>

         </div>

        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post" > 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone (Optional)">
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Message"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#Projects" class="poppinss">Projects</a></li>
            <li><a href="#Contact" class="poppinss">Contact</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/deepankar-majumdar-46322a2a1/" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/Deepankar1729" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            {% comment %} </a>
                <a href="" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
            </a> {% endcomment %}
            
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved - <span class="cpy-white poppins">Designed with purpose
                </span></p>

    </footer>
     
</body> 
</html>
